<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Open+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accordion</title>
  </head>
  <body>
    <div class="accordion">
      <div class="question-item">
        <p class="question-num">01</p>
        <p class="question-head">Where are these chairs assembled ?</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="question-icon"
          viewBox="0 0 512 512"
        >
          <path
            d="M98 190.06l139.78 163.12a24 24 0 0036.44 0L414 190.06c13.34-15.57 2.28-39.62-18.22-39.62h-279.6c-20.5 0-31.56 24.05-18.18 39.62z"
          />
        </svg>
        <div class="question-answer">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, autem
            et. Voluptas pariatur, vel, laborum repudiandae possimus modi
            aliquid at expedita eveniet obcaecati nemo, atque eum? Omnis veniam
            .
          </p>
          <ul class="list-flex">
            <li>Lorem ipsum dolor sit, amet consectetur adipisicing</li>
            <li>oluptas pariatur, vel, laborum repudiandae possimus</li>
            <li>aliquid at expedita eveniet obcaecati nemo.</li>
            <li>laborum repudiandae possimus modi aliquid</li>
          </ul>
        </div>
      </div>
      <div class="question-item open-answer">
        <p class="question-num">02</p>
        <p class="question-head">Where are these chairs assembled ?</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="question-icon"
          viewBox="0 0 512 512"
        >
          <path
            d="M98 190.06l139.78 163.12a24 24 0 0036.44 0L414 190.06c13.34-15.57 2.28-39.62-18.22-39.62h-279.6c-20.5 0-31.56 24.05-18.18 39.62z"
          />
        </svg>
        <div class="question-answer">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, autem
            et. Voluptas pariatur, vel, laborum repudiandae possimus modi
            aliquid at expedita eveniet obcaecati nemo, atque eum? Omnis veniam
            dolor amet?
          </p>
          <ul class="list-flex">
            <li>Lorem ipsum dolor sit, amet consectetur adipisicing</li>
            <li>oluptas pariatur, vel, laborum repudiandae possimus</li>
            <li>aliquid at expedita eveniet obcaecati nemo.</li>
            <li>laborum repudiandae possimus modi aliquid</li>
          </ul>
        </div>
      </div>
      <div class="question-item">
        <p class="question-num">03</p>
        <p class="question-head">Where are these chairs assembled ?</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="question-icon"
          viewBox="0 0 512 512"
        >
          <path
            d="M98 190.06l139.78 163.12a24 24 0 0036.44 0L414 190.06c13.34-15.57 2.28-39.62-18.22-39.62h-279.6c-20.5 0-31.56 24.05-18.18 39.62z"
          />
        </svg>
        <div class="question-answer">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, autem
            et. Voluptas pariatur, vel, laborum repudiandae possimus modi
            aliquid at expedita eveniet obcaecati nemo, atque eum? Omnis veniam
            dolor amet?
          </p>
          <ul class="list-flex">
            <li>Lorem ipsum dolor sit, amet consectetur adipisicing</li>
            <li>oluptas pariatur, vel, laborum repudiandae possimus</li>
            <li>aliquid at expedita eveniet obcaecati nemo.</li>
            <li>laborum repudiandae possimus modi aliquid</li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
