<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Open+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="tools-head">
      <p class="prev-head">Tools for marketing teams</p>
      <h1 class="head">
        Tools and insights to help you work smarter, together
      </h1>
      <p class="head-text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero, omnis
        officiis laudantium ducimus adipisci rerum cum ratione quidem tenetur
        sapiente est error harum ullam ex nostrum eos iusto optio
        necessitatibus!
      </p>
    </div>
    <div class="get-quote">
      <p class="prev-quote">
        <span class="hightlist-prev">get a quote</span>
      </p>
      <h1 class="head-quote">Get started with cover today.</h1>
      <p class="quote-text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
        officia reprehenderit eius impedit vero, nemo dolor aut quia quasi in
      </p>
    </div>
    <div class="launch">
      <div class="quote-box">
        <p class="prev-launch">launch</p>
        <h1 class="lanuch-head">Lanuch with one click, or use our SDK.</h1>
        <p class="launch-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quo
          iure, Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Repudiandae officia reprehenderit eius impedit vero, nemo dolor aut
          quia quasi in
        </p>
      </div>
    </div>
    <div class="how-do">
      <h1 class="how-head">How we do it</h1>
      <h2 class="how-sec-head">Data backed, scientific proof of food claims</h2>
      <p class="how-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae mollitia
        adipisci quis odio nisi, numquam saepe earum dolor nihil. Aliquam quam
        quia nisi cupiditate assumenda quo sed rerum, explicabo sit.
      </p>
    </div>
    <div class="build">
      <p class="build-above">Build.</p>
      <h1 class="ques-build">Have a unique work process?</h1>
      <h2 class="main-head-bulid">
        Create<br />
        a custom app<br />
        <span class="hightlight">in minutes</span>
      </h2>
      <p class="info-build">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
    </div>
    <div class="more-div">
      <h1 class="more-head">earn more on your paycheck.</h1>
      <h2 class="more-head-main">
        get paid up <br />
        to two<br />
        days<br />
        earlier.<br />
      </h2>
      <p class="question-more">Why should you wait to get paid?</p>
      <p class="more-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde, est
        mollitia quaerat distinctio sit consequuntur commodi ad eos eius
        possimus veniam harum officiis totam maxime corporis natus. Recusandae,
        corporis eius?
      </p>
    </div>
  </body>
</html>
