<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="page-container">
      <section class="nav-bar">
        <p class="nav-bar-text">NAV</p>
      </section>
      <section class="use">
        <section class="menu">
          <div class="menu-actions">
            <button class="btn-menu">New</button>
            <button class="btn-menu">Replay</button>
            <button class="btn-menu">Forward</button>
            <button class="btn-menu">Mark unread</button>
          </div>
          <div class="trash">
            <button class="btn-trash">Trash</button>
          </div>
        </section>
        <section class="emails">
          <button class="btn-email">Email 1</button>
          <button class="btn-email">Email 2</button>
          <button class="btn-email">Email 3</button>
          <button class="btn-email">Email 4</button>
          <button class="btn-email">Email 5</button>
          <button class="btn-email">Email 6</button>
          <button class="btn-email">Email 7</button>
          <button class="btn-email">Email 8</button>
          <button class="btn-email">Email 9</button>
          <button class="btn-email">Email 10</button>
          <button class="btn-email">Email 11</button>
          <button class="btn-email">Email 12</button>
          <button class="btn-email">Email 13</button>
        </section>
        <section class="email-view">
          <p>Email View</p>
        </section>
        <section class="add-info">
          <p>Additional info</p>
        </section>
      </section>
    </div>
  </body>
</html>
