<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header class="page-header">
      <nav class="nav-bar">
        <div class="logo">LOGO</div>
        <div class="links">NAVIGAION</div>
      </nav>
      <section class="section-hero">
        <div class="hero-container">
          <div class="hero-text-container">
            <h1 class="h1-hero">
              A healty meal delivered to your door, every single day
            </h1>
            <p class="p-hero">
              The smart 365-days-per-year food subscription that will make you
              eat healty algain. Tailored to your personal tastes and
              nutritional needs
            </p>
            <button class="btn-hero">Start eating well</button>
          </div>
        </div>
      </section>
    </header>
    <section class="section-2">
      <div class="section-2-container">
        <h2 class="h2-section-2">Some random heading</h2>
        <p class="p-section-2">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque quas,
          minus beatae sapiente debitis voluptatum, laudantium veritatis impedit
          corrupti officia recusandae fugit, voluptates iure velit! Ad suscipit
          vitae nobis optio. Lorem ipsum dolor sit, amet consectetur adipisicing
          elit. Reiciendis sequi quam earum voluptas eum laboriosam at
          cupiditate debitis in odio adipisci repudiandae enim ea, sint quos
          similique! Debitis, facilis dolore?
        </p>
      </div>
    </section>
  </body>
</html>
