<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="pricing">
      <div class="container grid grid--3--col">
        <div class="price-team price-card">
          <div class="price-head-contianer">
            <h2 class="head-price team-head-price">team</h2>
            <p class="sub-head-price">Modern service for all team members</p>
            <p class="price">
              <span class="dollar-sign">&dollar;</span><span>3</span>
            </p>
            <p class="price-per-month">per user, per morsh billed anualy</p>
            <div class="btn-container">
              <button class="btn-get-start">Get started</button>
            </div>
          </div>
          <h3 class="list-head">Features</h3>
          <ul class="list-price">
            <li class="list-price-item">real world</li>
            <li class="list-price-item">application</li>
            <li class="list-price-item">flexable</li>
            <li class="list-price-item">including all work</li>
            <li class="list-price-item">Yarab n5ls</li>
            <li class="list-price-item">Advanced workflow</li>
            <li class="list-price-item">Recorind</li>
            <li class="list-price-item">i think that's enough</li>
          </ul>
        </div>
        <div class="price-business price-card">
          <p class="best-seller">best seller</p>
          <div class="price-head-contianer">
            <h2 class="head-price bussniss-head-price">business</h2>
            <p class="sub-head-price">Modern service for all team members</p>
            <p class="price">
              <span class="dollar-sign">&dollar;</span><span>5</span>
            </p>
            <p class="price-per-month">per user, per morsh billed anualy</p>
            <div class="btn-container">
              <button class="btn-get-start">Get started</button>
            </div>
          </div>
          <h3 class="list-head">Features</h3>
          <ul class="list-price">
            <li class="list-price-item">real world</li>
            <li class="list-price-item">application</li>
            <li class="list-price-item">flexable</li>
            <li class="list-price-item">including all work</li>
            <li class="list-price-item">Yarab n5ls</li>
            <li class="list-price-item">Advanced workflow</li>
            <li class="list-price-item">Recorind</li>
            <li class="list-price-item">i think that's enough</li>
          </ul>
        </div>
        <div class="price-enterprice price-card">
          <div class="price-head-contianer">
            <h2 class="head-price enterprice-head-price">enterprice</h2>
            <p class="sub-head-price">Modern service for all team members</p>
            <p class="price">
              <span class="dollar-sign">&dollar;</span><span>7</span>
            </p>
            <p class="price-per-month">per user, per morsh billed anualy</p>
            <div class="btn-container">
              <button class="btn-get-start">Get started</button>
            </div>
          </div>
          <h3 class="list-head">Features</h3>
          <ul class="list-price">
            <li class="list-price-item">real world</li>
            <li class="list-price-item">application</li>
            <li class="list-price-item">flexable</li>
            <li class="list-price-item">including all work</li>
            <li class="list-price-item">Yarab n5ls</li>
            <li class="list-price-item">Advanced workflow</li>
            <li class="list-price-item">Recorind</li>
            <li class="list-price-item">i think that's enough</li>
          </ul>
        </div>
      </div>
    </section>
  </body>
</html>
